<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Mission to Mars</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
         crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
         integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
         crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
           integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
           crossorigin="anonymous"></script>
</head>

<body>
<div class="container">

   <div class="panel panel-default">
      <!-- Add Jumbotron to Header -->
      <div class="panel-heading jumbotron text-center">
         <h1>Mission to Mars</h1>
      </div>
      <div class="panel-body">
         <!-- Add a button to activate scraping script -->
         <p><a class="btn btn-primary btn-lg btn-block" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
   </div>

   <!-- Add section for Mars News -->
   <div class="panel panel-default">
      <div class="panel-heading">
         <h2>Latest Mars News</h2>
      </div>
      <div class="panel-body">
         <div class="row" id="mars-news">
            <div class="col-md-12">
               <div class="media">
                  <div class="media-body">
                     <blockquote>
                        <h4 class="media-heading">{{ mars.news_title }}</h4>
                        <small>{{ mars.news_paragraph }}</small>
                     </blockquote>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Mars Featured Image -->
   <!-- First level -->
   <div class="row" id="mars-featured-image">
      <!-- Second level -->
      <div class="col-md-8 form-group">
         <h2>Featured Mars Image</h2>
         <img
                 src="{{ mars.featured_image }}"
                 class="img-responsive"
                 alt="Featured Image"
         />
      </div>
      <!-- Mars Facts -->
      <div class="col-md-4" id="mars-facts">
         <!-- <div class="row" id="mars-facts">-->
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h2>Mars Facts</h2>
               </div>
               <!-- Table -->
               {{ mars.facts | safe }}
            </div>
         </div>
      <!-- </div> -->
   </div>

   <!-- Mars Hemispheres -->
   <div class="panel panel-default">
      <div class="panel-heading">
         <h2>Mars Hemisphere</h2>
      </div>
      <div class="panel-body">
         <div class="row">
            {% for hemisphere in mars.hemispheres %}
            <div class="col-md-3 col-xs-6">
               <div class="thumbnail">
                  <img src="{{ hemisphere.img_url }}" alt="{{ hemisphere.title }}" >
                  <div class="caption">
                     <hr>
                     <h3 class="text-center">{{ hemisphere.title }}</h3>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </div>

</div>
</body>
</html>

